:root{
    --primary-color: #FEDC00;
    --primary-color-light: #FEDC0055;
    --icon-color: #252525;
}
html{
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-areas: "content";
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    background-color: #000;
}
header{
    grid-area: content;
    place-self: start center;
    z-index: 666;
    max-width: 1200px;
    width: 100%;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.voltar{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    right: 16px;
    bottom: 16px;
    display: grid;
    place-content: center;
    font-size: 1rem;
    font-weight: 100;
    transition: all .5s;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
}

.voltar:hover{
    background-color: var(--primary-color);
    color:#000;
}

section{
    height: 100vh;
}

footer{
    grid-area: content;
    place-self: end center;
    height: 50px;
    width: 100%;
    display: grid;
    place-content: center;
    border-top: 2px solid #FFF;
    font-size: .75rem;
}